.toto{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-columns: 50px;

  grid-gap: 3px;

}
.tata{


  max-width:45%
}


.popov{
  display: inline-block;
  position: static;
  right: 100px;

}

img{
  width: 400px;
  height: 400px;

}
.row{
  width: 500px;

}
