
<!--<div id="acceuil">-->
<!--  <h3></h3>-->
<!--&lt;!&ndash;<h3><img src="https://www.pandadoc.com/app/packages/templates/wedding-planning-proposal/img/photo-1-6bfbf7a8b8.jpg" alt="Image Accueil" id="imageAcceuil"></h3>&ndash;&gt;-->
<!--  <td align="center" style="background-image:url(\''https://www.pandadoc.com/app/packages/templates/wedding-planning-proposal/img/photo-1-6bfbf7a8b8.jpg" alt="Image Accueil" id="imageAcceuil'\');background-repeat:no-repeat;">-->
<!--</div>-->

<body>
<img id="fond" src="https://www.pandadoc.com/app/packages/templates/wedding-planning-proposal/img/photo-1-6bfbf7a8b8.jpg" alt="l'image de fond" title="l'image de fond" />

<div id="conteneur">

  <h1 style=" color: white;font-size:80px">Isabelle</h1>
  <h1 style=" color: white;font-size:80px"> 💞💕💘 </h1>
  <h1 style=" color: white;font-size:80px">Fernando</h1>
  <h1 style=" color: white;font-size:40px"><i>Weeding Plans</i></h1>
  <h1 style=" color: white;"><i>30/10/2021</i></h1>
  <br>
  <h1> <button type="button" class="btn btn-primary btn-lg" style="width:100%" routerLink="/login" ><h4>Se Connecter</h4></button></h1>

</div>
</body>
