.containerBadge{
  display: flex;
  flex-direction: row;
}

@media (max-width: 700px){
  .table thead {
    display: none;
  }
  .table tr{
    display: block;
    margin-bottom: 40px;
  }
  .table td {
    display: block;
    text-align: right;
  }
  .table td:before {
    content: attr(data-label);
    float: left;
    font-weight: bold;
  }

 div.form-group{
   /*margin: 0;*/
   padding: 0;
 }
}
