<p><button (click)="AddGuest()">Add a guest</button></p>
<div id="newguest" [hidden]="changeText " >

  <form [formGroup]="filterGuestForm" (ngSubmit)="saveGuest()">

    <input type="hidden" id="guest_id" class="form-control" formControlName="id">
    <label for="firstName">FirstName : </label>
    <input id="firstName" type="text" required="true" formControlName="firstName">
    <label for="lastName">LastName : </label>
    <input id="lastName" type="text" required="true" formControlName="lastName">
    <label for="email">Email : </label>
    <input id="email" type="text"  formControlName="email">
    <label for="accommodation">Accommodation : </label>
    <input id="accommodation" type="text" required="true" formControlName="accommodation">
    <select formControlName="task" (change)="onTaskChange()">
      <!--    on value O pour qu'il affiche la premiere valeur par défault-->
      <option value="null">--Choose a Task--</option>
      <option *ngFor="let task of taskList" [ngValue]="task">{{task.description | uppercase}}</option>
    </select>
    <select formControlName="table" (change)="onTableChange()" >
      <option value="null">--Place on a Table--</option>
      <option *ngFor="let table of tableList" [ngValue]="table">{{table.tableName | uppercase}}</option>
    </select>
    <select formControlName="bridal" (change)="onCoupleChange()" >
      <option value="null">--Invited By--</option>
      <option *ngFor="let bridge of bridalCouple" [ngValue]="bridge">{{bridge.name | uppercase}}</option>
    </select>
    <select formControlName="role" (change)="onRoleChange()">
      <!--    on value O pour qu'il affiche la premiere valeur par défault-->
      <option value="null">-- Choisir un Role--</option>
      <option *ngFor="let role of roleList" [ngValue]="role">{{role.description | uppercase}}</option>
    </select>
    <select formControlName="relationShip" required="false" (change)="onRelationChange()" >
      <option value="null">--Relation--</option>
      <option *ngFor="let relationShip of relationShipList" [ngValue]="relationShip">{{relationShip.relationType | uppercase}}</option>
    </select>
    <select formControlName="gift" required="false"(change)="onGiftChange()" >
      <option value="null">--Do you have a gift?--</option>
      <option *ngFor="let gift of giftList" [ngValue]="gift">{{gift.name | uppercase}}</option>
    </select>

    <button   title="Cliquez pour enregistrer"  type="submit"> Save the guest</button>
  </form>
</div>
<br>
<table class="table table-striped withEspace">
  <thead>
  <tr>
    <th>Name </th>
    <th>FistName</th>
    <th>Email</th>
    <th>Update ?</th>
    <th>Delete ?</th>

  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let guest of guestList  ">
    <td>{{guest.lastName}}</td>
    <td>{{guest.firstName}}</td>
    <td>{{guest.email}}</td>
    <td><button class="btn btn-warning mb-2" (click)="updateGuest(guest)">Modify</button></td>
    <td><button class="btn btn-danger mb-2"(click)="deleteGuest(guest.id)">Delete</button></td>
  </tr>
  </tbody>
</table>


