.containerBadge{
  display: flex;
  flex-direction: column;
}
@media (min-width: 600px) {
  .containerBadge { flex-direction: row; }
}

@media (max-width: 600px){
  .table thead {
    display: none;
  }
  .table tr{
    display: block;
    margin-bottom: 40px;
  }
  .table td {
    display: block;
    text-align: right;
  }
  .table td:before {
    content: attr(data-label);
    float: left;
    font-weight: bold;
  }

 div.form-group{
   padding: 0;
 }
}

.hebergement{
  display: grid;
  /*grid-template-columns: repeat(2, 1fr);*/
  align-content: center;
  text-align: center;
}
@media (min-width: 600px) {
  .hebergement { grid-template-columns: repeat(2, 1fr); }
}

