<p>
  <button class="btn btn-primary mb-2" (click)="AddGuest()">Ajouter un invité</button>
</p>
<div id="newguest" [hidden]="changeText " class="container">

  <form [formGroup]="filterGuestForm" (ngSubmit)="saveGuest()" class="w-50">
    <div class="form-row">
      <div class="form-group col-md-3">
        <input type="hidden" id="guest_id" class="form-control" formControlName="id">
        <input type="hidden"  class="form-control" formControlName="amountParticipation">
        <label for="firstName">FirstName : </label>
        <input id="firstName" type="text" required="true" formControlName="firstName" placeholder="Prenom">
      </div>
      <div class="form-group col-md-3">
        <label for="lastName">LastName : </label>
        <input id="lastName" type="text" required="true" formControlName="lastName" placeholder="Nom">
      </div>


      <div class="form-group col-md-3">
        <label for="email">Address Email : </label>
        <input id="email" type="text" formControlName="email" placeholder="Email">
      </div>
      <div class="form-group col-md-3">
        <label for="accommodation">Hebergement : </label>
        <input id="accommodation" type="text" required="true" formControlName="accommodation">
      </div>
    </div>

    <div class="form-row">
      <div class="form-group col-md-6">
        <select formControlName="task" (change)="onTaskChange()">
          <!--    on value null pour qu'il affiche la premiere valeur par défault-->
          <option value="null">--Choisir une Tache--</option>
          <option *ngFor="let task of taskList" [ngValue]="task">{{task.description | uppercase}}</option>
        </select>
      </div>

      <div class="form-group col-md-4">
        <select formControlName="role" (change)="onRoleChange()">
          <option value="null">-- Choisir un Role--</option>
          <option *ngFor="let role of roleList" [ngValue]="role">{{role.description | uppercase}}</option>
        </select>
      </div>
      <div class="form-group col-md-2">
        <select formControlName="table" (change)="onTableChange()">
          <option value="null">--Choisir la Table--</option>
          <option *ngFor="let table of tableList  " [ngValue]="table"> {{table.id}} </option>
        </select>
      </div>
<!--      sections caché pour recuperer les valeurs lors d'une modif-->
      <select hidden="hidden" formControlName="gift" required="false" >
        <option value="null">--Choisissez un cadeau!--</option>
        <option  [ngValue]="gift"></option>
      </select>
      <select  hidden="hidden" formControlName="bridal" >
        <option value="null">--Invité par--</option>
        <option  [ngValue]="bridal"></option>
      </select>
      <select  hidden="hidden" formControlName="relationShip"  >
        <option value="null">--Relation--</option>
        <option   [ngValue]="relationShip"></option>
      </select>
    </div>
    <div class="form-group">
      <button class="btn btn-success mb-2" title="Cliquez pour enregistrer" type="submit"> Sauvegarder</button>
    </div>
  </form>
</div>

<h5>
  <button class="btn btn-primary mb-2" (click)="organiseGuest()">Placer les invités</button>
</h5>
<div [hidden]="guestOrganised" *ngIf="guestToPlace?.length==0">Il n'y a plus personne à placer</div>

<div class="container container-table" style="width: 500px;text-align: center">
  <h3 [hidden]="guestOrganised"><b>Liste des Invités à organiser</b></h3>
  <table [hidden]="guestOrganised" class="table table-striped withEspace" *ngIf="guestToPlace?.length!=0">
    <thead>
    <tr>
      <th>Nom</th>
      <th>Prenom</th>
      <th>Email</th>
      <th>Modifier ?</th>

    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let guest of guestToPlace ">
      <td>{{guest.lastName}}</td>
      <td>{{guest.firstName}}</td>
      <td>{{guest.email}}</td>
      <td>
        <button class="btn btn-warning mb-2" (click)="updateGuest(guest)">Modify 🖊</button>
      </td>
    </tr>
    </tbody>
  </table>
</div>
<hr/>


<div class="container">
  <h3><b>Liste des Invités</b></h3>
  <table class="table w-50 table-hover">
    <thead class="thead-dark">
    <tr>
      <th>Nom</th>
      <th>Prenom</th>
      <th>Email</th>
      <th>Modifier ?</th>
      <th>Supprimer ?</th>

    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let guest of guestList ">
      <td>{{guest.lastName}}</td>
      <td>{{guest.firstName}}</td>
      <td>{{guest.email}}</td>
      <td>
        <button class="btn btn-warning mb-2" (click)="updateGuest(guest)">Modify 🖊</button>
      </td>
      <td>
        <button class="btn btn-danger mb-2" (click)="deleteGuest(guest.id) ">Delete 🗑</button>
      </td>
    </tr>
    </tbody>
  </table>
</div>

<hr/>

<button type="button" class="btn btn-primary mb-2" (click)="OpenTaskList()">Liste des Taches, Qui fait Quoi?</button>
<div [hidden]="listeDesTaches" class="containerBadge  no-gutters" style="font-family:Gabriola; ">

  <div class="col-md-8 " *ngFor="let task of taskList" [hidden]="listeDesTaches">
    <h3><b>{{task.description}}</b></h3>
    <h4 *ngFor="let guest of task.guestList"><i>{{guest.firstName}} {{guest.lastName}}</i></h4>
  </div>
</div>

<hr/>

<button type="button" class="btn btn-primary mb-2" (click)="OpenAcommodationList()">Liste des Heberbements, Qui dort Où?
</button>
<div [hidden]="listeDesHebergements" class="hebergement" style="font-family:Gabriola; ">
  <section>
    <h3 [hidden]="listeDesHebergements"><b>Hotel</b></h3>
    <div *ngFor="let guest of guestListHotel" [hidden]="listeDesHebergements">
      <h4><i>{{guest.firstName}} {{guest.lastName}}</i></h4>
    </div>
  </section>
  <section>
    <h3 [hidden]="listeDesHebergements"><b>Auberge</b></h3>
    <div *ngFor="let guest of guestListMaisons" [hidden]="listeDesHebergements">
      <h4><i>{{guest.firstName}} {{guest.lastName}}</i></h4>
    </div>
  </section>
</div>

<hr/>

<button type="button" class="btn btn-primary mb-2" (click)="OpenCoupleList()">Nombre d'invités par marié:</button>
<div class="container container-table" style="width: 500px;text-align: center">
  <table [hidden]="listeNbInvites" class="table table-striped">
    <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Nom du Marié</th>
      <th scope="col">Nombre d'invités</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let bride of NbGuestList; index as i">
      <th scope="row">{{ i + 1 }}</th>
      <td> {{ bride[1] }} </td>
      <td>{{ bride[0]}}</td>
    </tr>
    </tbody>
  </table>
</div>
