<button type="button" class="btn btn-warning mb-2 btn-space"
        title="Cliquez pour retourner Page d'acceuil "
        routerLink="">Retour</button>
<body>
<header>

</header>
<!--<h1>Wedding Planning Proposal</h1>-->


 <div class="pageCover"  style="background-image:url(https://www.pandadoc.com/app/packages/templates/wedding-planning-proposal/img/cover-629d55f826.jpg);">

    <h1>Wedding Planning Proposal</h1>

   <ul class="header-nav">
     <li class="header-nav_item"><a routerLink="/adminguest">Gerer les invités</a></li>
     <br>
     <li class="header-nav_item"> <a routerLink="/gift">Les cadeaux</a></li>
   </ul>

   <p><strong>Prepared for:</strong>
     <br>
   </p>
   <p><strong>Created by:</strong><br>
   </p>
  </div>



<section id="weather-content">
  <router-outlet></router-outlet>
</section>





</body>
