<div class="container-fluid">
  <!--  boutton qui va apparaitre que s'il ya un utilisateur connecté-->
  <button mdbBtn type="button" color="indigo" mdbWavesEffect
          title="Cliquez pour vous déconnecter" (click)="logOut()"
          routerLink="login" *ngIf="isLoggedIn()">Deconnexion
  </button>


  <div class="pageCover"
       style="background-image:url(https://www.pandadoc.com/app/packages/templates/wedding-planning-proposal/img/cover-629d55f826.jpg);">

    <h1>Wedding Planning</h1>

    <nav class="navbar ">
      <div class="container fluid">
        <!--        <ul class="nav navbar-nav">-->
        <ul class="nav nav-pills">
          <li><a class="nav-link active" routerLink="">Accueil</a></li>
          <!--  Menu deroulant -->
          <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">Gerer les invités
              <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a routerLink="adminguest/admin">Admin</a></li>
              <li><a routerLink="adminguest/guest">Invités</a></li>
            </ul>
          </li>

          <li class="header-nav_item"><a routerLink="/gift">Les cadeaux</a></li>
          <li class="header-nav_item"><a routerLink="/tables">Les Tables</a></li>
          <li class="header-nav_item"><a routerLink="/login">Login</a></li>
        </ul>
      </div>
    </nav>
    <p><strong>Prepared for:</strong>
      <br>
    </p>
    <p><strong>Created by:</strong><br>
    </p>
  </div>


  <section id="weather-content" class="container fluid col-md-12">
    <router-outlet></router-outlet>
  </section>


</div>


