h1{
  text-align: center;
}
h4{
  font-style: italic;
}

.carousel-caption{
  color: #333333;
}

.container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 30%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1%;
}

.containerBadge{
  margin-top: 1%;
  margin-right: 2%;
  display: grid;
  padding: 5%;
  flex-wrap: wrap;

  margin-left: auto;
  margin-right: auto;
  text-align: center;
background-image: url("src/assets/plan-tables.jpg");

}

@media (min-width: 900px) {
  .containerBadge { grid-template-columns: repeat(2, 1fr); }
}

#nomPays{
  width: 40%;

}
