<h1 xmlns="http://www.w3.org/1999/html"> PLAN DES TABLES ✈✈✈</h1>
<hr/>



<div class="containerBadge " >
  <h4 class=" img-thumbnail no-gutters "  style="width:100%; height:auto;border-style: dashed" *ngFor="let table of tableList">
    <div class="col-md-8    mb-3">
    <img style='float:left;width:200px;height:200px; margin-right:5px;' src="{{table.imageUrl}}"/>

    <img id="nomPays" src="{{table.tableName}}" style="font-size:30%" alt="police-chinatown-champs" >

    <!--      <h1>{{table.tableName}}</h1>-->
    <h4 *ngFor="let guest of table.guestList" class="font-italic">{{guest.firstName}} {{guest.lastName}}</h4>
    </div>
  </h4>
</div>



